<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServerStartEmail" type="EC2Utilities.Common.Config.ServerStartEmailConfigSection, EC2Utilities.Common"/>
  </configSections>

  <ServerStartEmail>
    <EmailAddresses>
      <add emailAddress="test@test.com"/>
    </EmailAddresses>
  </ServerStartEmail>
  
</configuration>