<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BackupInstances" type="EC2Backup.Config.BackupInstancesConfigSection, EC2Backup.Common"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="ServiceName" value="Ec2BackupService"/>
    <add key="BackupRetentionDays" value="2"/>
  </appSettings>
  <BackupInstances>
    <Instances>
      <add instance="i-7d762711"/>
      <add instance="i-f283d69d"/>
      <add instance="i-fed38291"/>
      <add instance="i-e65a0689"/>
      <add instance="i-f08c0e90"/>
      <add instance="i-52b75630"/>
    </Instances>
  </BackupInstances>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="EC2Backup.log" layout="${longdate} ${message} ${exception:format=tostring}"/>
      <target xsi:type="ColoredConsole"
                  name="Debug"
                  layout="${message} ${exception:format=tostring}">
        <highlight-row backgroundColor="Black"
                       foregroundColor="DarkCyan"
                       condition="true"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="Debug" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
