<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServerStartEmail" type="EC2Utilities.Common.Config.ServerStartEmailConfigSection, EC2Utilities.Common"/>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />

  <ServerStartEmail>
    <EmailAddresses>
      <add emailAddress="escherrer@gmail.com"/>
      <add emailAddress="mike@czarmetrics.com"/>
    </EmailAddresses>
  </ServerStartEmail>

  <appSettings>
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="EmailAlertFromEmailAddress" value="mike@czarmetrics.com"/>
  </appSettings>
  
</configuration>